.order-header {
  text-align: left;
  max-width: 1100px;
  margin: 30px auto 10px;
  padding: 0 20px;
}

.order-header h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 5px;
}

.order-header p {
  font-size: 18px;
  color: #666;
}

.order-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-weight: bold;
}

.order-nav .logo {
  font-size: 28px;          
  color: #ff5722;
  font-weight: 700;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cart-icon {
  font-size: 24px;          
  cursor: pointer;
}

.cart-icon-wrapper {
  position: relative;
  font-size: 28px;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}


.logout-btn {
  font-size: 18px;          
  padding: 8px 16px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}


.order-page {
  padding: 30px;
  text-align: center;
}

.food-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
  padding: 50px 100px;
  max-width: 1500px;
  margin: auto;
}

.food-item {
  width: 300px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(186, 135, 135, 0.1);
  text-align: center;
}

.food-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.food-item h3 {
  font-size: 18px;
  margin: 10px 0 5px;
}

.food-item .rating {
  font-size: 14px;
  color: #ff9800;
  margin: 2px 0;
}

.food-item .price {
  font-weight: bold;
  margin: 5px 0;
}

.food-item button {
  margin-top: 10px;
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
